<%- include('../includes/top.ejs') %>
    <% if(successMessage){ %>
        <%- include('../includes/components/alert/success.ejs') %>
    <% } %>
    <% if(problemMessage){ %>
        <%- include('../includes/components/alert/problem.ejs') %>
    <% } %>
    <div class="card mb-4">
        <div class="card-body">
            <form class="mb-4" action="/" method="POST">
                <div class="mb-3">
                    <input class="form-control" name="url" id="url" type="text" placeholder="http://apa-aja.com/pages/mTnVdoYXCoN9ElxrsEDbdoY7y0sPvyUubgYGY78guYuGHbfjI6F78buG7G">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Pendekin URL</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <% if (shortenedUrls.length > 0) { %>
              <% let nomor = 1; %>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">URL</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < shortenedUrls.length; i++) { %>
                    <tr>
                        <th scope="row" class="text-center"><%= nomor %></th>
                        <td><a href="<%= address %>/<%= shortenedUrls[i].parameter %>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= shortenedUrls[i].url %>"><%= address %>/<%= shortenedUrls[i].parameter %></a></td>
                        <td class="text-center">
                            <a href="<%= address %>/edit/<%= shortenedUrls[i].parameter %>" class="btn btn-sm btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                <i class="far fa-edit"></i>
                            </a>
                            <form action="/delete" method="POST" style="display: inline;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="urlId" value="<%= shortenedUrls[i].secondId %>">
                                <button class="btn btn-sm btn-danger" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% nomor++; %>
                    <% } %>
                </tbody>
              </table>
              <% } else { %>
                <div class="text-center">
                    <p style="margin: 0; padding: 0;">Tidak ada URL.</p>
                </div>
              <% } %>
        </div>
    </div>
    <% if (totalPages > 1) { %>
    <div class="mb-4">
        <nav class="d-flex justify-content-center" aria-label="...">
            <ul class="pagination pagination">
              <% if (currentPage !== 1) { %>
                <li class="page-item">
                    <a class="page-link" href="<%= currentPage-1 === 1 ? '/' : `?halaman=${currentPage-1}` %>">Previous</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
              <% } %>
              <% for (let i=1; i<=totalPages; i++) {  %>
                <% if (currentPage === i) { %>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link"><%= i %></span>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="<%= i === 1 ? '/' : `?halaman=${i}` %>"><%= i %></a>
                    </li>
                <% } %>
              <% } %>
              <% if (currentPage !== totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="?halaman=<%= currentPage + 1 %>">Next</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
              <% } %>
            </ul>
          </nav>
    </div>
    <% } %>
<%- include('../includes/bottom.ejs') %>
                                