<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
    <div class="container px-5">
        <a class="navbar-brand text-dark" href="/">idurl<span class="text-primary">.id</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-lg-5">
                <li class="nav-item"><a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link <%= page === 'ketentuan' ? 'active' : '' %>" href="/ketentuan">Ketentuan</a></li>
                <li class="nav-item"><a class="nav-link <%= page === 'bug' ? 'active' : '' %>" href="/report-bug">Laporkan Bug</a></li>
                <li class="nav-item"><a class="nav-link <%= page === 'donasi' ? 'active' : '' %>" href="/donasi">Donasi</a></li>
                <li class="nav-item"><a class="nav-link" href="https://bagusanugrah.my.id/#contact" target="_blank"><i class="fas fa-envelope-open-text"></i></a></li>
            </ul>
            <%- include('./login-button.ejs') %>
        </div>
    </div>
</nav>