<% if (totalPages > 1) { %>
    <div class="mb-2">
        <nav class="d-flex justify-content-center" aria-label="...">
            <ul class="pagination pagination">
              <% if (currentPage !== 1) { %>
                <li class="page-item">
                    <a class="page-link" href="<%= currentPage-1 === 1 ? '/' : `/?halaman=${currentPage-1}` %>">Previous</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
              <% } %>
              <% for (let i=1; i<=totalPages; i++) {  %>
                <% if (currentPage === i) { %>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link"><%= i %></span>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="<%= i === 1 ? '/' : `/?halaman=${i}` %>"><%= i %></a>
                    </li>
                <% } %>
              <% } %>
              <% if (currentPage !== totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="/?halaman=<%= currentPage + 1 %>">Next</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
              <% } %>
            </ul>
        </nav>
    </div>
<% } %>